.threeDimensionalContainer {
    background-image: linear-gradient(135deg, #222 0%, #111 74%);
}

.main__overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.homeOverlay{
    background-color: rgba(0, 0, 0, 0.4);
}

.main__content{
    background-color: rgba(20, 20, 20, .98);
}

body{
    color: #ccc;
}

.navbar__menu{
    background-color: rgba(20, 20, 20, .98);
}

.navbar__menu.navOpen {
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

/* TODO Make this BG color fade */
.navbar__menu.navOpen{
    width: 100%;
    background-color: rgba(0, 0, 0, .0);
}

.lightbox__backdrop{
    background-color: #111;
}

.lightbox__tooltip--right-container, .lightbox__tooltip--left-container, .lightbox__tooltip--combined-container{
    background-color: #000;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px 0px;
    color: #ddd;
}

.main__content--subheading{
    text-align: center;
    font-size: 28px;
    color: #797545;
    font-family: "EB Garamond";
    @apply
    mt-6
    mb-4
}

.main__content--two-col-list--subheading{
    text-align: center;
    font-size: 28px;
    color: #797545;
    font-family: "EB Garamond";
    margin: 10px 0px 4px 0px;
}