.main__overlay {
    /*background-color: rgba(0, 0, 0, 0.4);*/
}

.main__content, .navbar{
    background-color: rgba(20, 20, 20, .98);
}

body{
    color: #ccc;
}

.lightbox__backdrop{
    background-color: #111;
}

.lightbox__tooltip--right-container, .lightbox__tooltip--left-container, .lightbox__tooltip--combined-container{
    background-color: #000;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px 0px;
    color: #ddd;
}

.main__content--subheading{
    color: #797545;
}

.main__content--two-col-list--subheading{
    text-align: center;
    font-size: 28px;
    color: #797545;
    font-family: "EB Garamond";
    margin: 10px 0px 4px 0px;
}

.main__content--equipment-headline{
    color: #797545;
    font-size: 30px;
}

.navbar__bar, .navbar__bar:before, .navbar__bar:after {
    background-color: #ccc;
}