.container {
    background-image: linear-gradient(135deg, #222 0%, #111 74%);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.homeOverlay{
    background-color: rgba(0, 0, 0, 0.4);
}

.main-container-content{
    background-color: rgba(20, 20, 20, .98);
}

body{
    color: #ccc;
}

.menu{
    background-color: none;
}