@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------- Globals -------- */

/* Resets  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: "Poppins", sans-serif;
}

/* Main */
.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: auto;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.main__content{
    width: 100%;
    max-width: 1100px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
    /*border-radius: 15px;*/
    margin: auto;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-shadow: 20px 0 20px -4px rgba(0, 0, 0, 0.4), -20px 0 20px -4px rgba(0, 0, 0, 0.4);

    padding-top: 60px;

    @apply
    pl-16
    pr-16
}

.main__content::-webkit-scrollbar {
    display: none;
}

.main__content--headline{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 25px;

    @apply
    pt-2
    pb-2
}

header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.main__overlay {
    position: absolute;
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.7rem;
}

.btn {
    margin-top: 1rem;
    padding: 0.6rem 1.8rem;
    background-color: #1179e7;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

/* Navbar */
.navbar {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 1100px;
    z-index: 10;
    height: 3rem;
    margin: 0 auto;
}

.navbar--home {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    padding-top: 10px;
    z-index: 10;
    height: 3rem;
    margin: 0 auto;
}

.navbar__menu {
    min-height: 60px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 5px 0px;
    background: #fff;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar__logo {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}

.navbar__logo span {
    font-weight: 300;
}

.navbar__hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__bar {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: 0.5s;
    position: relative;
}

.navbar__bar:before,
.navbar__bar:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}

.navbar__bar:before {
    transform: translateY(-9px);
}

.navbar__bar:after {
    transform: translateY(9px);
}

.links {
    position: absolute;
    /*width: 30%;*/
    padding-right: 10rem;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}

.links a:hover {
    color: #fff;
}

.threeDimensionalContainer.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}


/*TODO Design nav to fade out on nav close*/
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}


/* 3D Container */
.threeDimensionalContainer {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    transform-style: preserve-3d;
}
.threeDimensionalContainer.active .navbar__bar {
    transform: rotate(360deg);
    background-color: transparent;
}

.threeDimensionalContainer.active .navbar__bar:before {
    transform: translateY(0) rotate(45deg);
}

.threeDimensionalContainer.active .navbar__bar:after {
    transform: translateY(0) rotate(-45deg);
}

.threeDimensionalContainer.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

.threeDimensionalContainer.active .main.mobile, .threeDimensionalContainer.active .main.narrow {
    animation: none;
    cursor: pointer;
    transform: none;
    display: none;
}

@keyframes main-animation {
    from {
        transform: translate(0);
    }

    to {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: white;
}

.shadow.one {
    z-index: -1;
    opacity: 0.15;
}

.shadow.one.mobile, .shadow.one.narrow{
    display: none;
}

.shadow.two {
    z-index: -2;
    opacity: 0.1;
}

.shadow.two.mobile, .shadow.two.narrow{
    display: none;
}

.threeDimensionalContainer.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
    0% {
        transform: translate(0);
    }

    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}

.threeDimensionalContainer.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
    0% {
        transform: translate(0);
    }

    20% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}

.threeDimensionalContainer.active .main:hover + .shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.threeDimensionalContainer.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}


/* -------- Page-specific Classes --------- */

/* Gallery Page */
.galleryFolderSelectors{
    padding-right: 6px;
    padding-left: 6px;
    border-right: 2px solid darkgreen;
    display: inline-block;
}

span.galleryFolderSelectors::first-letter{
    text-transform: capitalize;
    font-size: 1.2rem;
}

.galleryFolderSelectors:first-of-type{
    border-left: 2px solid darkgreen;
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;

}

.lightbox__backdrop{
    display: flex;
    padding: 20px 40px 20px 40px;
    flex-flow: column;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 18px 2px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 18px 2px rgba(51,51,51,1);
    box-shadow: 0px 0px 18px 2px rgba(51,51,51,1);
}

.lightbox__top-row{
    justify-content: flex-end;
    display: flex;

    @apply
    mb-4;
}

.lightbox__middle-row{
    display: flex;
    align-items: center;
    justify-content: center;
}


.lightbox__image--subcontainer{
    position: relative;
/*    width: 80vw;
    height: 80vh;*/
    /*min-height: 10vh;*/
}

.lightbox__image--styler{
    /*margin: 10vh 10vw;*/
}

.lightbox__image--move-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height:100%;
}

.lightbox__image--move-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height:100%;
}

.lightbox__bottom-row{
}

.lightbox__exif-data{

}





/* Leaflet  */
#map {
    height: 80%;
    width: 100%;
}

.marker-cluster {
    background: #9370db;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
}

/* Media Queries */
@media screen and (max-width: 800px){
    .main__content {
        padding: 60px 30px 30px 30px;
    }

    .main__overlay {
        padding-right: 0%;
        padding-left: 0%;
    }

    .navbar{
        width: 100%;
    }

    .lightbox__bottom-row--right ul li, .lightbox__bottom-row--left ul li{
    }

    .lightbox__bottom-row--right{
        @apply
        mt-2
    }

    .lightbox__backdrop{
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (min-width: 800px) {
    .lightbox__bottom-row{
        @apply
        flex
        justify-between
        mt-4;
    }
}

@media screen and (max-width: 950px) {
/*    .threeDimensionalContainer.active .main {
        display: none;
    }

    .shadow.one .shadow.two{
        display: none;
    }*/
    /*Replace the above with javascript*/
}
